.v{
    color: goldenrod;
    font-weight: bolder;
}
.i{
    
    font-weight: bolder;
}

p{
    font-size: 30px;
}
button[type="button"]{
    width: 150px;
    height: 50px;
    background-color: greenyellow;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
}
button[ type="button"]:hover{
    background-color: black;
    color: green;}

.c:hover{
    color:goldenrod;
}
.t:hover{
    color:goldenrod;
}
.o:hover{
    color:goldenrod;
}
/* styling your form*/

form{
    width: 50%;
    padding: 20px 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select
{
width: 400px;
height: 40px;
margin-bottom: 10px;
display: block;
border-radius: 5px;
border: 1px solid black;
font-size: 18px;
padding: 0 0 0 3px;
background-color:white;
}


input[ type="button"]{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: goldenrod;
    color:white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: black;
    color:green;
}
h3{
    font-size: 30px;
}

footer{
    text-align: center;
    font-style: italic;
}

.me{
    color: goldenrod;
    font-weight: bolder;
    }
    .img{
        width: 100%;
        height: 50px;
    }

